<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Average</th>
  </tr>
  </thead>

  <tbody>
  <% ones.each do |one| %>
      <tr>
        <td><%= one.name %></td>
        <td><%= one.average_rating() %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>