<h2>List of ratings</h2>
How many ratings: <%= @ratings.size %>
<ul>
 <% @ratings.each do |rating| %>
   <li> 
  <%= rating.to_s %>
  <% if current_user && current_user.id == rating.user_id %>
  <%= link_to current_user.username, user_path(current_user.id) %>
  <% end %>
  </li>
 <% end %>
</ul>
<%= link_to 'New Rating', new_rating_path if current_user%>